* {
  margin: 0;
}
body {
  background-color: #EFF8F3;
  scroll-behavior: smooth;
}
/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #181E34 100%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.3s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 20px 20px 20px 52px;
  text-decoration: none;
  font-size: 25px;
  color: #EFF8F3;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #989898;
  text-decoration: overline;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background: linear-gradient(to bottom, #181E34 100%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply;
  color: #EFF8F3;
  padding: 10px 15px;
  border: none;
  position: fixed;

}

.openbtn:hover {
  background: linear-gradient(to bottom, #181E34 60%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3%;
  column-gap: 8rem;
}

#container h2 {
  margin-bottom: 3rem;
  font-family: 'Rubik', sans-serif;
  text-decoration: underline;
  font-size: 3rem;
  border: .5rem solid #181E34;
  background: linear-gradient(to bottom, #181E34 100%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply;
  color: #EFF8F3;
  width: 100%;
  padding: 3%;
}

#item-1 {
  grid-template-columns: max-content;
  border: .5rem solid #181E34;
  background: linear-gradient(to bottom, #181E34 100%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply;
  color: #EFF8F3;
  padding: 3%;
  text-indent: 2rem;
}
#item-1 h3 {

  color: #EFF8F3;
  padding: 3%;
  text-indent: 2rem;
}
 
#item-2 {
  grid-template-columns: max-content;
  border: .5rem solid #181E34;
  background: linear-gradient(to bottom, #181E34 100%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply;
  color: #EFF8F3;
  padding: 3%;
  text-indent: 2rem;
}

#item-2 h3{
  color: #EFF8F3;
  padding: 3%;
  text-indent: 2rem;
}


#item-3 {
  grid-template-columns: max-content;
  border: .5rem solid #181E34;
  background: linear-gradient(to bottom, #181E34 100%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply;
  color: #EFF8F3;
  padding: 3%;
  text-indent: 2rem;

}

#item-3 h3 {
  color: #EFF8F3;
  padding: 3%;
  text-indent: 2rem;
}


#blog {
  margin-top: 5%;
  width: 100%;
  background: linear-gradient(to bottom, #181E34 100%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply;
  height: 70%;
  overflow: scroll;
  text-indent: 1rem;
  border: .5rem solid #181E34;

}
.blog-btn {
  font-family: 'Rubik', sans-serif;
  background: linear-gradient(to bottom, #181E34 100%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply;   
  border: .3rem solid #181E34; /* Green border */
  color: #EFF8F3; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer;
  margin-left: 45%;
  position: relative;
}
.blog-btn:hover {
  background:#EFF8F3;
  color: #181E34;
  font-family: 'Rubik', sans-serif;
}


#blog h1 {
  text-align: center;
  color: #EFF8F3;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  position: static;
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  letter-spacing: .2rem;
  font-weight: 600;
}

#blog h1:hover {
  text-decoration: overline;
}

#blog p {
  color: #EFF8F3;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 1.5rem;
}
#blog a{
  text-align: center;
  color: #EFF8F3;
  text-decoration: none;
}

#projects {
  margin-top: 5%;
  width: 100%;
  background: linear-gradient(to bottom, #181E34 100%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply; /* Black*/
  height: 70%;
  overflow: scroll;
  scroll-behavior: smooth;
  border: .5rem solid #181E34;
  cursor: pointer;
}
#projects h1 {
  text-align: center;
  color: #181E34;
  margin-top: 1%;
}

#projects a {
  text-align: center;
  color: #EFF8F3;
  text-decoration:none;
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  letter-spacing: .2rem;
  font-weight: 600;
  margin-bottom: 5%;
}
#projects a:hover {
  text-decoration:overline;
}



/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .3s; /* If you want a transition effect */
  padding: 20px;
  height: 100vh;
  width: 100%;
  background-image: url("./images/ink3.jpg");
  background-size: cover;
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: swap 5s linear infinite alternate;
}
@keyframes swap {
  from {background-image: url(./images/ink2.jpg);}
  to {background-image: url(./images/ink3.jpg);}
}

#landing {
  margin-top: 5%;
  height: 100vh;
  width: 100vw;
}

#landing h1 {
  margin-top: 10%;
  font-family: 'Rubik', sans-serif;
  color: #EFF8F3;
  font-size: 7.5rem;
  font-weight: 500;
  line-height: 170%;
}
.scroll-container {
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.btn-group button {
  font-family: 'Rubik', sans-serif;
  background: linear-gradient(to bottom, #181E34 100%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply;   
  border: .3rem solid #181E34; /* Green border */
  color: #EFF8F3; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: right; /* Float the buttons side by side */
  font-size: 1.5rem;
  position: relative;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #EFF8F3;
  text-decoration: overline;
  font-size: 1.6rem;
}




/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
@media screen and (max-width: 600px) {
  #landing h1 {
    margin-top: 70%;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 3.5rem;
    color: #EFF8F3;
    width: 100vw;
    line-height: 170%;
  }
  
#blog p {
  color: #EFF8F3;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 1rem;
  margin-top: 10%;
}
#container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#item-1{
margin-bottom: 10%;
}
#item-2{
  margin-bottom: 10%;
}
#item-3{
  margin-bottom: 10%;
}
.blog-btn {
  font-family: 'Rubik', sans-serif;
  background: linear-gradient(to bottom, #181E34 100%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply;   
  border: .3rem solid #181E34; /* Green border */
  color: #EFF8F3; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer;
  margin-left: 35%;
}
.btn-group button {
  font-family: 'Rubik', sans-serif;
  background: linear-gradient(to bottom, #181E34 100%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply;   
  border: .3rem solid #181E34; /* Green border */
  color: #EFF8F3; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: right; /* Float the buttons side by side */
  font-size: 1rem;
}
#about h2 {
  font-family: 'Rubik', sans-serif;
  font-size: 4rem;
  margin-top: 20%;
  margin-bottom: 5%;
  font-weight:600;
  color: #EFF8F3;
}


#about p {
  color: #EFF8F3;
  text-align: center;
  font-size: 1.5rem;
}
.blog-btn {
  font-family: 'Rubik', sans-serif;
  background: linear-gradient(to bottom, #181E34 100%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply;   
  border: .3rem solid #181E34; /* Green border */
  color: #EFF8F3; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer;
  margin-left: 22%;
  margin-bottom: 10%;
  position: relative;
}

}
/* ENDS QUERY 










*/

#main::-webkit-scrollbar {
  width: 5px;  
  height: 5px;             /* width of the entire scrollbar */
}


#main::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, #181E34 100%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply; 
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;/* Black*/       /* color of the tracking area */
}

#main::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #181E34 100%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply;     /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid black;  /* creates padding around scroll thumb */
}
#blog::-webkit-scrollbar {
  width: 5px;  
  height: 5px;   
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;            /* width of the entire scrollbar */
}


#blog::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, #181E34 100%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply; /* Black*/       /* color of the tracking area */
}

#blog::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #181E34 100%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply;     /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid black;  /* creates padding around scroll thumb */
}
#projects::-webkit-scrollbar {
  width: 5px;  
  height: 5px;  
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;              /* width of the entire scrollbar */
}


#projects::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, #181E34 100%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply; /* Black*/       /* color of the tracking area */
}

#projects::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #181E34 100%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply;     /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid black;  /* creates padding around scroll thumb */
}
body::-webkit-scrollbar {
  width: 5px;  
  height: 5px;                /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, #181E34 100%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply;       /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #181E34 100%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply;     /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid black;  /* creates padding around scroll thumb */
}

/* (A) OUTER CONTAINER */
.hwrap {
  /* (A1) DIMENSIONS */
  width: 100%;
  height: 100vh; /* OPTIONAL */

  /* (A2) COSMETICS */background: linear-gradient(to bottom, #181E34 100%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply; 
  border: 2px solid #EFF8F3;
  overflow: hidden; /* HIDE SCROLLBARS */
}

/* (B) MIDDLE CONTAINER - FLEX LAYOUT */
.hmove {
  display: flex;
  position: relative;
  top: 0; right: 0;
}

/* (C) SLIDES - FORCE INTO ONE LONG HORIZONTAL ROW */
.hslide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  padding: 10px;
}

/* (D) SLIDE ANIMATION */
@keyframes slideh {
  /* (D0) THE IDEA - USE KEYFRAMES TO SHIFT SLIDES *
  0% { right: 0; }
  33% { right: 100%; }
  66% { right: 200%; }
  100% { right: 0; }
 
  /* (D1) BUT THE ABOVE WILL SHIFT NON-STOP */
  /* SO WE ADD PAUSES BETWEEN EACH SLIDE */
  0% { right: 0; }
  30% { right: 0; }
  33% { right: 100%; }
  63% { right: 100%; }
  66% { right: 200%; }
  97% { right: 200%; }
  100% { right: 0; }
}
.hmove { animation: slideh linear 15s infinite; }
.hmove:hover { animation-play-state: paused; }

.i {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  position: absolute;
  height: 30%;
  margin-top: 50%;
}

.fab, .far {
  font-weight: 200;
}

.fab {
  font-family: "Font Awesome 5 Brands";
}
.fa, .fab, .fad, .fal, .far, .fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  margin-top: 150%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 2rem;
  color: #EFF8F3;
}
.fas:hover{
  font-size: 2rem;
  color: #EFF8F3;
  cursor: pointer;
  text-decoration: overline;
}
.fab:hover {
  font-size: 2rem;
  color: #EFF8F3;
  cursor: pointer;
  text-decoration: overline;
}

#about::-webkit-scrollbar {
  width: 5px;  
  height: 5px;
}
#about::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, #181E34 100%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply; /* Black*/       /* color of the tracking area */
}
#about::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #181E34 100%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply;     /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid black;  /* creates padding around scroll thumb */
}

#about {
  display: grid;
  height: 100vh;
  width: 100%;
  background-image: url("./images/ink3.jpg");
  background-size: cover;
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: swap 5s linear infinite alternate;
}

#about h2 {
  font-family: 'Rubik', sans-serif;
  font-size: 4rem;
  margin-top: 10%;
  margin-bottom: 5%;
  font-weight:600;
  color: #EFF8F3;
  margin-left: 10%;
}


#about p {
  color: #EFF8F3;
  font-size: 1.5rem;
  text-indent: 1.5rem;
  margin-bottom: 3%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 2%;
  border: .3rem solid #EFF8F3;
  background: linear-gradient(to bottom, #181E34 100%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply;
}
#about p:nth-child(odd) {
  background: #EFF8F3;
  color: #181E34;
  border: .3rem solid #181E34;
}

#skills-me {
  background-color: #EFF8F3;
  box-shadow: 1em .4rem -.4em #181E34, -1em -.4rem .4em #181E34;
  height: 70%;
  border: .3rem solid #181E34;
  height: 500px;
}

#resume-me {
  background: linear-gradient(to bottom, #181E34 100%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply;
  box-shadow: 1em .4rem -.4em #181E34, -1em -.4rem .4em #181E34;
  height: 500px;
  border: .3rem solid #EFF8F3;
}
